<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uxiaoxi.ym.appserver.db.cluster.mapper.StudentFollowMapper" >
  <resultMap id="BaseResultMap" type="com.uxiaoxi.ym.appserver.db.cluster.dto.StudentFollow" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="stu_id" property="stuId" jdbcType="BIGINT" />
    <result column="acc_id" property="accId" jdbcType="BIGINT" />
    <result column="clu_id" property="cluId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="BIGINT" />
    <result column="create_dt" property="createDt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, stu_id, acc_id, clu_id, type, create_dt
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.uxiaoxi.ym.appserver.db.cluster.dto.StudentFollowExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from student_follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from student_follow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from student_follow
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.uxiaoxi.ym.appserver.db.cluster.dto.StudentFollowExample" >
    delete from student_follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.uxiaoxi.ym.appserver.db.cluster.dto.StudentFollow" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student_follow (stu_id, acc_id, clu_id, 
      type, create_dt)
    values (#{stuId,jdbcType=BIGINT}, #{accId,jdbcType=BIGINT}, #{cluId,jdbcType=BIGINT}, 
      #{type,jdbcType=BIGINT}, #{createDt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.uxiaoxi.ym.appserver.db.cluster.dto.StudentFollow" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student_follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stuId != null" >
        stu_id,
      </if>
      <if test="accId != null" >
        acc_id,
      </if>
      <if test="cluId != null" >
        clu_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createDt != null" >
        create_dt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stuId != null" >
        #{stuId,jdbcType=BIGINT},
      </if>
      <if test="accId != null" >
        #{accId,jdbcType=BIGINT},
      </if>
      <if test="cluId != null" >
        #{cluId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIGINT},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.uxiaoxi.ym.appserver.db.cluster.dto.StudentFollowExample" resultType="java.lang.Integer" >
    select count(*) from student_follow
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update student_follow
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.stuId != null" >
        stu_id = #{record.stuId,jdbcType=BIGINT},
      </if>
      <if test="record.accId != null" >
        acc_id = #{record.accId,jdbcType=BIGINT},
      </if>
      <if test="record.cluId != null" >
        clu_id = #{record.cluId,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=BIGINT},
      </if>
      <if test="record.createDt != null" >
        create_dt = #{record.createDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update student_follow
    set id = #{record.id,jdbcType=BIGINT},
      stu_id = #{record.stuId,jdbcType=BIGINT},
      acc_id = #{record.accId,jdbcType=BIGINT},
      clu_id = #{record.cluId,jdbcType=BIGINT},
      type = #{record.type,jdbcType=BIGINT},
      create_dt = #{record.createDt,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.uxiaoxi.ym.appserver.db.cluster.dto.StudentFollow" >
    update student_follow
    <set >
      <if test="stuId != null" >
        stu_id = #{stuId,jdbcType=BIGINT},
      </if>
      <if test="accId != null" >
        acc_id = #{accId,jdbcType=BIGINT},
      </if>
      <if test="cluId != null" >
        clu_id = #{cluId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="createDt != null" >
        create_dt = #{createDt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uxiaoxi.ym.appserver.db.cluster.dto.StudentFollow" >
    update student_follow
    set stu_id = #{stuId,jdbcType=BIGINT},
      acc_id = #{accId,jdbcType=BIGINT},
      clu_id = #{cluId,jdbcType=BIGINT},
      type = #{type,jdbcType=BIGINT},
      create_dt = #{createDt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <!-- 自己定义方法 -->
  <select id= "searchInfoTSub" parameterType="map" resultMap="ResultInfoTSub" >
      <![CDATA[ 
        SELECT c.`id`,
               c.`name`,
               c.`face`
          FROM `student` c,`student_follow` t 
         WHERE t.`stu_id` = c.`id`
           AND t.`clu_id` =  c.`clu_id`
           AND t.`type` =  #{type,jdbcType=BIGINT}
           AND t.`acc_id` = #{uid,jdbcType=BIGINT}
           AND t.`clu_id` = #{gid,jdbcType=BIGINT}
       ]]>
  </select>
 
  <resultMap id="ResultInfoTSub" type ="com.uxiaoxi.ym.appserver.web.cluster.vo.SearchUserListTSub" >
    <result column="id" property="sid" jdbcType="BIGINT" />
    <result column="name" property="sname" jdbcType="VARCHAR" />
    <result column="face" property="sface" jdbcType="VARCHAR" />
  </resultMap>
  
    <!-- 自己定义方法 -->
    <select id= "searchInfoPSub" parameterType="map" resultMap="ResultInfoPSub" >
      <![CDATA[ 
        SELECT c.`id`,
               c.`name`,
               c.`face`
          FROM `student` c,`student_follow` t 
         WHERE t.`stu_id` = c.`id`
           AND t.`clu_id` =  c.`clu_id`
           AND t.`type` =  #{type,jdbcType=BIGINT}
           AND t.`acc_id` = #{uid,jdbcType=BIGINT}
           AND t.`clu_id` = #{gid,jdbcType=BIGINT}
       ]]>
  </select>
 
  <resultMap id="ResultInfoPSub" type ="com.uxiaoxi.ym.appserver.web.cluster.vo.SearchUserListPSub" >
    <result column="id" property="sid" jdbcType="BIGINT" />
    <result column="name" property="sname" jdbcType="VARCHAR" />
    <result column="face" property="sface" jdbcType="VARCHAR" />
  </resultMap>
  
      <!-- 自己定义方法 -->
    <select id= "searchInfoSSub" parameterType="map" resultMap="ResultInfoSSub" >
      <![CDATA[ 
        SELECT c.`id`,
               c.`name`,
               c.`face`
          FROM `account` c,`student_follow` t 
         WHERE t.`acc_id` = c.`id`
           AND t.`type` =  #{type,jdbcType=BIGINT}
           AND t.`stu_id` = #{sid,jdbcType=BIGINT}
           AND t.`clu_id` = #{gid,jdbcType=BIGINT}
       ]]>
  </select>
 
  <resultMap id="ResultInfoSSub" type ="com.uxiaoxi.ym.appserver.web.cluster.vo.SearchUserListSSub" >
    <result column="id" property="pid" jdbcType="BIGINT" />
    <result column="name" property="pname" jdbcType="VARCHAR" />
    <result column="face" property="pface" jdbcType="VARCHAR" />
  </resultMap>
  
  
      <!-- 自己定义方法 -->
  <select id="searchByGidS" parameterType="com.uxiaoxi.ym.appserver.web.cluster.vo.ClusterUserListForm" resultMap="ResultMapS" >
    <![CDATA[
        SELECT c.`id`,
               c.`face`,
               c.`num`,
               c.`name`
        FROM `student` c 
        WHERE c.`clu_id` = #{gid,jdbcType=BIGINT}
    ]]>
  </select>

  <resultMap id="ResultMapS" type ="com.uxiaoxi.ym.appserver.web.cluster.vo.SearchUserListSVO" >
    <result column="id" property="sid" jdbcType="INTEGER" />
    <result column="name" property="sname" jdbcType="VARCHAR" />
    <result column="face" property="sface" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="VARCHAR" />
  </resultMap>

</mapper>